In [ ]:
a=1
b=1
c=1 
a+b+c

In [ ]:
1a=1

In [ ]:
a 1=1

In [ ]:
a_1=1

In [ ]:
_a1=1

In [ ]:
__a=1

In [ ]:
a@gmail.com=1

In [ ]:
if=2

In [ ]:
type=1

In [ ]:
a=1
type(a)

In [ ]:
count=100
kilometers=1000.0
name="rahul"
print(count,kilometers,name)

In [ ]:
a,b,c=1,2,"john"
print(a,b,c,sep=',')

In [ ]:
a=2
print(id(a))

In [ ]:
a=1
print(id(a))

In [ ]:
str1 ="python is a programming language"
print(str1)

In [ ]:
print(str1[3])

In [ ]:
print(str1[4:10])

In [ ]:
print(str1[12:23])

In [ ]:
str1.split()

In [ ]:
str1="{}{}{}".format("today I ","am ","good")
str1

In [ ]:
str1="{0}{1}{2}".format("today I ","am ","good")
str

In [ ]:
str1="{1}{0}{2}".format("today I ","am ","good")
str1

In [ ]:
str1="{a}{v}{e}".format(a="this is sam " , v="this is nother sam " , e="this is sweet and lovely ")
str1
print(str1)

In [ ]:
str1.capitalize()

# list

In [ ]:
L=[1,2,3,"sam",4,5]
L

In [ ]:
L[0:4]

In [ ]:
L[3]

In [ ]:
L[3][2]

In [ ]:
ks=[1,2,3]
ks+ks

In [ ]:
ls=[3,6,8,9]
ks + ls

In [ ]:
ks*5

In [ ]:
L

# concept of mutability

In [ ]:
print(id(L))

In [ ]:
L[0] = 10
print(id(L))

In [ ]:
L2 = "diwakar"
print(id(L2))

In [ ]:
L2[0] = "g"

In [ ]:
L2 = "g"+L2[1:]
L2

In [ ]:
print(id(L2))

In [2]:
a=input("enter your name ")

enter your name sam

In [3]:
a=input("enter your age  ")

enter your age  21

In [5]:
a=int(input("enter your age "))
print(a*2)

enter your age 23
46

In [7]:
a=input("enter your sequence ")

enter your sequence 11 21 32 45 67

In [8]:
a

'11 21 32 45 67 '

In [10]:
type(a)

str

In [11]:
## deliminator or seperator------it is use to seperate the two element of the list..

In [12]:
a.split()

['11', '21', '32', '45', '67']

# tuple

In [13]:
## list are opened and closed by [] parenthesis.     && list are immutable...

## but tuples are close opened and closed by () paranthesis..   && tuple is immutable

In [16]:
tuple1 = (12,45,25,"sam",54)
tuple2 = (1,25,42,"surya")
print(tuple1)
print(tuple2)

(12, 45, 25, 'sam', 54)
(1, 25, 42, 'surya')

In [17]:
print(tuple1[0])

12

In [18]:
tuple1[0] = "hii"

TypeError: 'tuple' object does not support item assignment

In [19]:
tuple2*4

(1,
 25,
 42,
 'surya',
 1,
 25,
 42,
 'surya',
 1,
 25,
 42,
 'surya',
 1,
 25,
 42,
 'surya')

In [20]:
tuple1*3

(12, 45, 25, 'sam', 54, 12, 45, 25, 'sam', 54, 12, 45, 25, 'sam', 54)

# Python Dictionary

In [21]:
# there are two main elemnets in python dictionary are "keys"  & "values"....
##python dictionary represents the curly braces {}...

In [23]:
dict1={}

In [24]:
type(dict1)

dict

In [26]:
dict1['one'] = "this is python"
dict1[2]= "this is java"

In [27]:
dict1[2]

'this is java'

In [28]:
dict1[3]

KeyError: 3

In [29]:
dict2={'name':'rohit','id':1234,'dept':'technical'}

In [31]:
dict2['name']

'rohit'

In [32]:
dict2.keys()

SyntaxError: invalid syntax (277288853.py, line 1)

# While Loops

In [33]:
count = 0
while(count<10):
    print(count)
    count = count+1

0
1
2
3
4
5
6
7
8
9

In [36]:
count = 10
while(count>0):
    print(count)
    count = count-1

10
9
8
7
6
5
4
3
2
1


# While Loops with else

In [43]:
count = 0
while(count<5):
    print(count, "is less than 5")
    count = count+1
else:
    print(count, " is not less than 5")

0 is less than 5
1 is less than 5
2 is less than 5
3 is less than 5
4 is less than 5
5  is not less than 5

In [44]:
count = 0
while(count<10):
    print(count, "this is number less than 10")
    count = count+1
else:
    print(count,"is not less than 10")

0 this is number less than 10
1 this is number less than 10
2 this is number less than 10
3 this is number less than 10
4 this is number less than 10
5 this is number less than 10
6 this is number less than 10
7 this is number less than 10
8 this is number less than 10
9 this is number less than 10
10 is not less than 10

# For Loop

In [45]:
a = [1,3,4,5,6,7,8,9]
for i in a:
    print(i)

1
3
4
5
6
7
8
9

In [59]:
a=input("Enter your name ")

Enter your name Sam

In [50]:
a[0]

'S'

In [60]:
total = 0
for i in a:
    print(i)
    total = total+1
    
print(total)

S
a
m

4

In [53]:
total = 0
total = total+1
print(total)

1

# For loops with else